<app-loading-spinner *ngIf="showLoading; else showTable"></app-loading-spinner>

<ng-template #showTable>
  <nav class="navbar" style="background-color: orange; width: 100%">
    <a class="navbar-brand" style="color: white; padding: 5px"
      >Compilazioni effettuate</a
    >
  </nav>

  <br />
  <div class="row">
    <div class="col-10 offset-1">
      <div class="row" *ngFor="let item of compilazioni">
        <div class="col-3">
          <h3>{{ item.nomeAtleta }}</h3>
        </div>
        <div class="col-3">
          <h3>{{ item.cognomeAtleta }}</h3>
        </div>
        <div class="col-4 offset-2">
          <button
            pButton
            pRipple
            type="button"
            label="Info"
            class="p-button-rounded p-button-info"
            (click)="info(item)"
          ></button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!--Info atleta-->
<p-dialog
  header="Scheda di iscrizione"
  [(visible)]="showInfo"
  [style]="{ width: '50vw' }"
  [modal]="true"
  position="left"
  *ngIf="selectedComp"
>
  <div style="padding: 20px">
    <h4>Dati Atleta</h4>
    <br />
    <h4 class="dialog-row">
      <h4 class="info-title">Nome:</h4>
      {{ this.selectedComp.nomeAtleta }}
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">Cognome:</h4>
      {{ this.selectedComp.cognomeAtleta }}
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">Sesso:</h4>
      {{ this.selectedComp.sessoAtleta }}
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">Nato/a il:</h4>
      {{ formatDate(this.selectedComp.nascitaAtleta) }}
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">A:</h4>
      {{ this.selectedComp.luogoNascitaAtleta }} ({{
        this.selectedComp.provNascitaAtleta
      }})
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">Residente in:</h4>
      {{ this.selectedComp.indirizzoAtleta }},
      {{ this.selectedComp.civicoAtleta }},
      {{ this.selectedComp.comuneAtleta }} ({{ this.selectedComp.provAtleta }})
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">CAP:</h4>
      {{ this.selectedComp.capAtleta }}
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">Codice Fiscale:</h4>
      {{ this.selectedComp.codfiscAtleta }}
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">Nazionalità:</h4>
      {{ this.selectedComp.nazAtleta }}
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">Cittadinanza:</h4>
      {{ this.selectedComp.cittadinanzaAtleta }}
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">Scuola:</h4>
      {{ this.selectedComp.scuolaAtleta }}
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">Classe:</h4>
      {{ this.selectedComp.classeAtleta }}
    </h4>
  </div>
</p-dialog>

<!--Info genitore-->
<p-dialog
  header="Scheda di iscrizione"
  [(visible)]="showInfo"
  [style]="{ width: '50vw' }"
  position="right"
  *ngIf="selectedComp"
>
  <div style="padding: 20px">
    <h4>Dati Genitore</h4>
    <br />
    <h4 class="dialog-row">
      <h4 class="info-title">Nome:</h4>
      {{ this.selectedComp.nomeGenitore }}
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">Cognome:</h4>
      {{ this.selectedComp.cognomeGenitore }}
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">Sesso:</h4>
      {{ this.selectedComp.sessoGenitore }}
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">Nato/a il:</h4>
      {{ formatDate(this.selectedComp.nascitaGenitore) }}
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">A:</h4>
      {{ this.selectedComp.luogoNascitaGenitore }} ({{
        this.selectedComp.provNascitaGenitore
      }})
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">Residente in:</h4>
      {{ this.selectedComp.indirizzoGenitore }},
      {{ this.selectedComp.civicoGenitore }},
      {{ this.selectedComp.comuneGenitore }} ({{
        this.selectedComp.provGenitore
      }})
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">CAP:</h4>
      {{ this.selectedComp.capGenitore }}
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">Codice Fiscale:</h4>
      {{ this.selectedComp.codfiscGenitore }}
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">Email:</h4>
      {{ this.selectedComp.emailGenitore }}
    </h4>
    <h4 class="dialog-row">
      <h4 class="info-title">Cellulare:</h4>
      {{ this.selectedComp.telefonoGenitore }}
    </h4>
  </div>
</p-dialog>
